@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("./reset.css");
@import url("./font.css");

header {
  border-bottom: 1px solid #eee;
}

.demo {
  top: 0!important;
  left: 0!important;
}

.test {
  font: small-caption;
  font-weight: 400 !important;
  font-size: 17px !important;
  color: black;
 
}
