@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('./reset.css');
@import url('./font.css');

header {
	border-bottom: 1px solid #eee;
}

.Toastify__toast--success {
	 /* color: rgb(30, 201, 7) !important;  */
	color: white !important; 
	
}

.btn-save {
	top: 0 !important;
	left: 0 !important;
}
.btn-vip {
	top: 0 !important;
	right: 0 !important;
}

.test {
	font: small-caption;
	font-weight: 400 !important;
	font-size: 17px !important;
	color: black;
}

.test-demo::before {
	content: '';
	top: 23px;
	right: 0;
	position: absolute;
	left: 0;
	height: 35px;
	width: 100%;
	background-color: transparent;
}

/* messenger */

.messenger::before {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	width: 56px;
	height: 56px;
	border-radius: 100%;
	animation: ping 2s linear infinite;
	border: 1px solid #1197f6;
	transition: all 1s;
}

@keyframes ping {
	from {
		transform: scale(1);
		opacity: 1;
		border: 1px solid #1197f6;
	}

	16.5% {
		transform: scale(1.2);
		opacity: 1;
		border: 1px solid #1197f6;

		transition-timing-function: ease-in-out;
	}

	33% {
		transform: scale(1.2);
		opacity: 1;
		border: 1px solid transparent;

		transition-timing-function: ease-in-out;
	}

	49.5% {
		transform: scale(1.35);
		opacity: 1;
		border: 1px solid #1197f6;

		transition-timing-function: ease-in-out;
	}

	66% {
		transform: scale(1.35);
		opacity: 1;
		border: 1px solid white;

		transition-timing-function: ease-in-out;
	}

	88.5% {
		transform: scale(1.5);
		opacity: 1;
		border: 1px solid #1197f6;

		transition-timing-function: ease-in-out;
	}

	100% {
		transform: scale(1.5);
		opacity: 1;
		border: 1px solid white;

		transition-timing-function: ease-in-out;
	}

	87.5% {
		transform: scale(1.65);
		opacity: 1;
		border: 1px solid #1197f6;
		transition-timing-function: ease-in-out;
	}
}

.modal-box {
	padding: 0 !important;
}
	
.react-tabs__tab--selected {
	background: #fff;
	border-color: #aaa;
	color: black;
	border-radius: 0 !important ;
}

.react-tabs__tab--selected:focus {
	color: #014d8b;
	
}

.react-tabs__tab-list {
	font-size: 14px;
  
}

.react-tabs__tab:focus {
  border: 2px solid #2270b0;

} 


input[type="file"] {
  display: none;
}

.box-check-lick {
	max-height: 200px;
 overflow: auto;
}

	/* pagination */
.paginationBttns {
  width: 90%;
justify-content: center;
  list-style: none;
 display: flex;


}

.paginationBttns a {
  padding: 10px 15px;
  margin: 3px;
  
background:white;
  color: black;
  cursor: pointer;
}

.paginationBttns a:hover {
 
  background-color: #ff5d38;
}

.paginationActive a {

  background-color: #ff5d38;
}


.paginationDisabled a {
 
  background-color: grey;
	
}
.paginationDisabled a:hover {
 
  background-color: grey;
	
}


